table {
    width: 100%;
    border-collapse: collapse;
    line-height: 2.5em;
}

table caption {
    caption-side: top;
    margin: 0.5em 0;
    font-size: 1.5em;
    font-weight: 500;
}

table th,
table td {
    background-color: #fff;
    border-bottom: 1px solid #E6E6E6;
    padding: 7px 17px;
    text-align: center;
}

table thead th {
    background-color: #34A853;
    color: #F8F8F8;
}

table tbody tr:nth-child(odd) td {
    background-color: #F8F8F8;
}

table tbody tr:hover th,
table tbody tr:hover td {
    background-color: #E6E6E6;
    transition: all .2s;
}