/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "./komponen/header.css";
@import "./komponen/banner.css";
@import "./komponen/highlight.css";
@import "./komponen/content.css";
@import "./komponen/tabel.css";
@import "./komponen/aside.css";
@import "./komponen/footer.css";

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #1E1E1E;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Anchor CSS */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Paragraf CSS */
.heading {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
}

/* Size CSS */
.small {
    width: 20%;
}

.medium {
    width: 40%;
}

.large {
    width: 100%;
}

/* Color CSS */
.red {
    background-color: #EA4335;
}

.yellow {
    background-color: #FBBC05;
}

.green {
    background-color: #34A853;
}

.blue {
    background-color: #4285F4;
}

.white {
    background-color: #ffffff;
}

.spectra {
    background-color: #2F4F4F;
}

.alabaster {
    background-color: #F8F8F8;
}
